.loader {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid #0000;
    border-right-color: #1877f1;
    position: relative;
    animation: l24 1s infinite linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: l24 1s infinite linear;
}
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
  }
  .loader:after {
    animation-duration: 4s;
  }
  @keyframes l24 {
    100% {transform: rotate(1turn)}
  }
