/* start dashboard */
.select-hotel{
    height: 100vh;
    background-image: url(../../../assets/images/bg.svg);
    background-position: 0 -200px;
    background-size: cover;
    background-repeat: no-repeat;
}
.select-hotel h3{
    font-weight: 600;
}
.hotel-icon{
    font-size: 23px;
}
.hotel input[type="radio"]:checked{
    accent-color:green;
}
/* end dashboard */